{
	"plugins": ["typescript"],
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"printWidth": 100,
	"proseWrap": "always",
	"bracketSpacing": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/modules/(.*)$",
		"^@/utils/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
